.box {
  margin-top: 3rem;
  width: 48%;
  height: 500px;
  border: 1px solid black;
}

.box.WIN{
  border: 10px solid green;
}

.box.TIE{
  border: 10px solid black;
}

.box.LOSE{
  border: 10px solid red;
}

.img { width: 100%; height: 300px; outline: none; border: none;}
.main {
  display: flex; 
  justify-content: center;
}